.card{
    position: relative;
}
.card img{
    width: 100%;
    display: block;
    border-radius: 5px;
    border: 2px solid #ffff;
}

.card .front{
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease 400ms;
}

.Turn{
    margin-top: 20px;
}

.flipped .front{
    transform: rotateY(0deg);
}